
#calculator{
     overflow: 150px;
    margin-top: 50px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: maroon;
    width: 500px;
    height: 600px;
    border-radius: 12px;
}

span{
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
text-align: center;
margin-top: 500px;
font-size: 2rem;
margin-left: 12px;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('https://www.1001fonts.com/digital-7-font.html');
   }

.result{
    background-color: aqua;
    width: 470px;
    height: 60px;
    margin: 12px;
    border-radius: 5px;
    color: black;
    font-size: 2.5rem;
    text-align: right;
    font-family: 'digital-clock-font';
    }

.keys{
margin: 12px ;
width: 470px;
height: 460px;
background-color:grey;
border-radius: 5px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

button{
    width: 75%;
    height: 70%;
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 1.8rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 7px #999;
         }

    button:hover {background-color: #268329}

    button:active{
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
    }
    
    #ani{
        height: 100px;
        width: 100px;
        background-color: greenyellow;
        color: red;
        position: relative;
        bottom: 500px;
        left: 50px;
        font-size: 2rem   ;
        text-align: justify; 
        text-rendering: auto;
        border-radius: 2px;
        opacity:0%;
        
    
    }
      