 #cal {
            width: 300px;
            background-color: #484848;
            height: 500px;
            margin-top: 2vw;
            margin-left: 25vh;
            padding: 5px;
            font-size: large;
            font-style: normal;
            border-radius: 10px;}
            
       
           /*  #button { color: success;
            background-color: #eeeeee;
            position: relative;
            display: inline;
            text-align: center;
            padding: 5px;
            font-weight: bold;
            border-radius: 1px;
            cursor: pointer;
            box-shadow: 0 2px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75)};  */

            #result {
            width: 280px;
            height: 35px;
            background-color: whitesmoke;
            border-radius: 5px;
            margin-bottom: 15px;
            text-align: right;
            line-height: 34px;
            font-family: digital;
            padding: 0px 5px 0px 5px;
            font-size: 25px;
            overflow: hidden;
            box-shadow: inset 0 0px 3px};
